* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF !important;
}

@font-face {
  font-family: "Poppins-md";
  src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-light";
  src: url(../fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: url(../fonts/static/Mulish-Light.ttf) format("truetype");
}

.container-fluid {
  padding: 0 !important;
}

.clear-fix {
  clear: both;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .15s;
  padding: 16px 45px;
}

hr {
  height: 1px;
  width: 60px;
  background-color: #A9AFC3;
}

@import "components/sidebar";
@import "components/sidebar-left";
@import "components/slider-content";
@import "components/button-menu";
@import "components/header";
@import "components/nav-link";
@import "components/main-menu";
@import "components/about-us";
@import "components/main-content";
@import "components/services";
@import "components/card-deck";
@import "components/card-body";
@import "components/card";
@import "components/cta";
@import "components/form-group";
@import "components/form-control";
@import "components/choose";
@import "components/choose-left";
@import "components/choose-right";
@import "components/case";
@import "components/case-card";
@import "components/post";
@import "components/subscribe";
@import "components/footer";
@import "components/about-us/banner-info";
@import "components/about-us/team";
@import "components/about-us/team-card-images";
@import "components/about-us/client";
@import "components/about-us/client-card-images";
@import "components/about-us/video";
@import "components/about-us/link-page";
@import "components/services/prices";
@import "components/services/prices-card";
.snip1517 .plan {
  width: 24%;
  position: relative;
  float: left;
  overflow: hidden;
  background: linear-gradient(0deg, #191C2600, #000000);
  border-radius: 8px;
}
.snip1517 .plan:hover i,
.snip1517 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.snip1517 .plan-title {
  line-height: 60px;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-weight: 700;
}

.snip1517 .plan-cost {
  padding: 0 20px;
  margin: 0;
  text-align: center;
}

.snip1517 .plan-price {
  font-weight: 400;
  font-size: 2.8em;
  margin: 10px 0;
  display: inline-block;
}

.snip1517 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
//hover
.snip1517 .plan:hover{
  margin-top: -34px;
  z-index: 1;
  border-radius: 8px;
  background-color: transparent;
  header{
    background-color: #DBB070;
  }
}

.snip1517 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
  font-size: 0.9em;
}


.snip1517 .plan-features li {
  padding: 8px 20px;
}

.snip1517 .plan-features i {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.snip1517 .plan-select {
  padding: 20px;
  text-align: center;
}

.snip1517 .plan-select a {
  background-color: transparent;
  font-family: "Mulish";
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid #DBB070;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

.snip1517 .featured {
  margin-top: -10px;
  z-index: 1;
  border-radius: 8px;
  border: 2px solid #156dab;
  background-color: transparent;
}

.snip1517 .featured .plan-select {
  padding: 30px 20px;
}

.snip1517 .featured .plan-select a {
  background-color: transparent;
}
