* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF !important;
}

@font-face {
  font-family: "Poppins-md";
  src: url(/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-light";
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Mulish";
  src: url(/fonts/static/Mulish-Light.ttf) format("truetype");
}
.container-fluid {
  padding: 0 !important;
}

.clear-fix {
  clear: both;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 100px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  -webkit-transition: margin-left 0.15s;
  transition: margin-left 0.15s;
  padding: 16px 45px;
}

hr {
  height: 1px;
  width: 60px;
  background-color: #A9AFC3;
}

.sidebar-left {
  width: 11%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  z-index: 1;
  background-color: #111;
}

.slider-content {
  position: relative;
}
.slider-content__item.block {
  position: absolute;
  left: 18%;
  top: 17%;
  z-index: 3;
}
.slider-content__item.subtitle h6 {
  color: #A9AFC3 !important;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.slider-content__item.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.slider-content__item.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
}
.slider-content__item.desc p {
  width: 41%;
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  color: #A9AFC3 !important;
  font-family: "Poppins-light";
}
.slider-content__item .button-img {
  float: left;
}
.slider-content__item .text {
  float: left;
  margin: 27px 0 0;
}
.slider-content__item .text p {
  font-style: normal;
  font-weight: 200;
  font-size: 11px;
  font-family: "Poppins-light";
  line-height: 150%;
}
.slider-content__item.button p.color {
  color: #DBB070 !important;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.slider-content__item.dot span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
  position: absolute;
  left: 33.3%;
  top: 38%;
}
.slider-content__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(25, 28, 38, 0), #000000);
  text-align: center;
}

.button-menu__quote {
  padding: 15px 35px;
  border-radius: 50px;
  border: 2px solid #DBB070;
  background-color: transparent;
  font-family: "Mulish";
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 11%;
  padding: 10px;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#111319), to(rgba(22, 25, 33, 0.6)));
  background: linear-gradient(180deg, #111319, rgba(22, 25, 33, 0.6));
}
.header .nav-item a {
  font-family: "Mulish";
  font-size: 14px;
}

.nav-link {
  padding: 14px 0;
}

.main-menu__logo {
  margin: 13px;
}

.about-us {
  position: relative;
}
.about-us::after {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 626px;
  position: absolute;
  top: 0%;
  opacity: 0.9;
}
.about-us__content.block {
  position: absolute;
  z-index: 3;
  top: 21%;
  left: 50%;
}
.about-us__content.subtitle h6 {
  color: #A9AFC3 !important;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.about-us__content.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.about-us__content.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.about-us__content.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.about-us__content.desc p {
  width: 62%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Poppins-light";
  color: #A9AFC3 !important;
}
.about-us__content.desc .p-2 {
  width: 82%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Mulish";
  color: #A9AFC3 !important;
}
.about-us__readmore button {
  padding: 10px 0;
  color: #DBB070 !important;
  border-bottom: 1px solid #DBB070;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.main-content {
  float: right;
  width: 90%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#111319), to(rgba(20, 22, 29, 0.8509803922)));
  background-image: linear-gradient(0deg, #111319, rgba(20, 22, 29, 0.8509803922));
}

.services {
  position: relative;
  background-color: #111319;
}
.services__item.block {
  margin: 150px 0 0 145px;
}
.services__item.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.services__item.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.services__item.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 100%;
  font-size: "Poppins-md";
}
.services__item.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.services__item.desc p {
  width: 95%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Mulish";
  color: #A9AFC3 !important;
}
.services__bg-img {
  position: absolute;
  top: 12%;
}
.services__bg-img img {
  width: 100%;
}
.services__button {
  margin: 50px 0 0;
}
.services__button button {
  padding: 10px 0;
  color: #DBB070 !important;
  border-bottom: 1px solid #DBB070;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card-body.bg-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(#191C26), to(#0B0D14));
  background: linear-gradient(0deg, #191C26, #0B0D14);
}
.card-body__icon {
  margin: 50px auto 36px;
  border: 1px solid #444;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 50%;
  background-color: #23252E;
}
.card-body__icon img {
  margin-top: 30px;
}
.card-body__text {
  color: #A9AFC3 !important;
  font-family: "Poppins-md";
  font-size: 20px;
  line-height: 130%;
}

.card {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 0%;
          flex: 0.5 0 0%;
  border: none !important;
  margin: 0 !important;
  background: -webkit-gradient(linear, left bottom, left top, from(#191C26), to(#080A12)) !important;
  background: linear-gradient(0deg, #191C26, #080A12) !important;
  height: 490px;
}

.cta {
  position: relative;
}
.cta__bg {
  background-color: #191C26;
}
.cta__item.block {
  position: absolute;
  top: 20%;
  left: 16%;
  z-index: 1;
}
.cta__item.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.cta__item.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 8px 15px 0 0;
}
.cta__item.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.cta__item.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.cta__item.desc p {
  width: 57%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #A9AFC3 !important;
  font-size: 14px;
  font-family: "Mulish";
}
.cta__button {
  margin: 30px 20px;
}
.cta__button button {
  padding: 15px 35px;
  border-radius: 50px;
  border: 2px solid #DBB070;
  background-color: transparent;
}

.form-group input {
  float: left;
  width: 25%;
  background: none;
  border: none;
  border-bottom: 1px solid #3A3F50;
  margin: 10px 15px 0 0;
}

.form-control.mess {
  width: 55%;
  background: none;
  border: none;
  border-bottom: 1px solid #3A3F50;
  margin: 20px 12px 20px 0;
}

.choose {
  background-color: #111319;
}
.choose__info {
  margin: 270px 0 0 180px;
  background-image: url(/images/icon-services/bg-services.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.choose__blck {
  width: 25%;
  float: left;
}
.choose__item.block {
  margin: 270px 0 0 95px;
}
.choose__item.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.choose__item.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 8px 15px 0 0;
}
.choose__item.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.choose__item.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.choose__item.desc p {
  width: 68%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Poppins-light";
  font-size: 14px;
  color: #A9AFC3 !important;
}
.choose__item.list {
  margin: 50px 0 0;
}
.choose__item.list h6 {
  font-family: "Poppins-md";
}
.choose__item.list h6 img {
  padding-right: 20px;
}
.choose__item.list p {
  font-family: "Mulish";
  padding-left: 50px;
  color: #A9AFC3 !important;
  font-size: 13px;
}

.choose-left {
  float: left;
  width: 50%;
}
.choose-left__b-1.block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0)), to(#080A12));
  background-image: linear-gradient(180deg, rgba(25, 28, 38, 0), #080A12);
  height: 200px;
  width: 220px;
}
.choose-left__b-1.numb {
  font-family: "Mulish";
  text-align: center;
  font-size: 33px;
  line-height: 100%;
  position: relative;
  padding: 50px 0 0;
}
.choose-left__b-1.numb span {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #DD4242 !important;
  position: absolute;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 15px;
}
.choose-left__b-1.text {
  font-size: 18px;
  line-height: 170%;
  padding: 20px 0 20px 45px;
  color: #A9AFC3 !important;
  font-family: "Mulish";
}
.choose-left__b-2 {
  margin: 30px 0;
}
.choose-left__b-2.block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 28, 38, 0)), to(#080A12));
  background-image: linear-gradient(0deg, rgba(25, 28, 38, 0), #080A12);
  height: 200px;
  width: 220px;
}
.choose-left__b-2.numb {
  text-align: center;
  font-size: 33px;
  line-height: 100%;
  position: relative;
  padding: 50px 0 0;
  font-family: "Mulish";
}
.choose-left__b-2.numb span {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #DD4242 !important;
  position: absolute;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 15px;
}
.choose-left__b-2.text {
  font-size: 18px;
  line-height: 170%;
  padding: 20px 0 20px 45px;
  color: #A9AFC3 !important;
  font-family: "Mulish";
}

.choose-right {
  float: left;
  width: 50%;
}
.choose-right__b-1.block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0)), to(#080A12));
  background-image: linear-gradient(180deg, rgba(25, 28, 38, 0), #080A12);
  height: 200px;
  width: 220px;
  margin: 45px 50px 45px 50px;
}
.choose-right__b-1.numb {
  text-align: center;
  font-size: 33px;
  line-height: 100%;
  position: relative;
  padding: 50px 0 0;
}
.choose-right__b-1.numb span {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #DD4242 !important;
  position: absolute;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 15px;
}
.choose-right__b-1.text {
  font-size: 18px;
  line-height: 170%;
  padding: 20px 0 20px 45px;
  color: #A9AFC3 !important;
}
.choose-right__b-2.block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 28, 38, 0)), to(#080A12));
  background-image: linear-gradient(0deg, rgba(25, 28, 38, 0), #080A12);
  height: 200px;
  width: 220px;
  margin: 45px 50px 45px 50px;
}
.choose-right__b-2.numb {
  text-align: center;
  font-size: 33px;
  line-height: 100%;
  position: relative;
  padding: 50px 0 0;
}
.choose-right__b-2.numb span {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #DD4242 !important;
  position: absolute;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 15px;
}
.choose-right__b-2.text {
  font-size: 18px;
  line-height: 170%;
  padding: 0px 0 0px 50px;
  color: #A9AFC3 !important;
}

.case {
  margin: 270px 0 0 200px;
  position: relative;
}
.case__content.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.case__content.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.case__content.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.case__content.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.case__content.desc {
  margin: 30px 0 70px;
}
.case__content.desc p {
  width: 93%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Mulish";
  font-size: 14px;
  color: #A9AFC3 !important;
}
.case__viewcase {
  margin-top: 115px;
}
.case__viewcase button {
  padding: 10px 0;
  color: #DBB070 !important;
  border-bottom: 1px solid #DBB070;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Poppins-light";
  font-size: 14px;
  font-weight: normal;
}
.case__viewcase button i {
  color: #DBB070 !important;
}

.case-card-images {
  float: left;
  width: 25%;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.case-card-images::before {
  content: "";
  width: 100%;
  height: 318px;
  background-color: #000;
  opacity: 0.9;
  display: inline-block;
  position: absolute;
}
.case-card-images:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.case-card-images:hover::before {
  display: none;
}

.post {
  margin: 270px 0 0 200px;
}
.post__content.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.post__content.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.post__content.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.post__content.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.post__content.desc p {
  width: 94%;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-family: "Mulish";
  font-size: 14px;
  color: #A9AFC3 !important;
}
.post__block {
  margin: 40px 0;
}
.post__img:after {
  content: "";
  display: block;
  width: 138px;
  height: 138px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0)), to(#080A12));
  background: linear-gradient(180deg, rgba(25, 28, 38, 0), #080A12);
}
.post__btn button {
  width: 95px;
  height: 24px;
  background-color: #DBB070;
  border: none;
  font-family: "Mulish";
}
.post__btn span {
  color: #A9AFC3 !important;
  font-size: 12px;
  font-family: "Mulish";
}
.post__title p {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-family: "Poppins-md";
}
.post__button button {
  padding: 28px 0 5px;
  color: #DBB070 !important;
  border-bottom: 1px solid #DBB070;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Poppins-light";
}
.post__bg-img {
  background-image: url(/images/img-post/bg\ object.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.post__block-tt {
  margin: 211px 0 0;
}

.subscribe {
  margin: 120px 0 0px 200px;
  position: relative;
}
.subscribe__block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 28, 38, 0)), to(#080A12));
  background-image: linear-gradient(0deg, rgba(25, 28, 38, 0), #080A12);
  height: 741px;
}
.subscribe__block-f {
  margin: 120px 0;
}
.subscribe__content.subtitle h6 {
  color: #A9AFC3 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  font-family: "Poppins-light";
}
.subscribe__content.subtitle h6 .line {
  height: 1px;
  width: 60px;
  background: #A9AFC3 !important;
  float: left;
  margin: 10px 15px 0 0;
}
.subscribe__content.title h1 {
  margin: 22px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  font-family: "Poppins-md";
}
.subscribe__content.title h1 span {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DBB070;
  border: 1px solid #DBB070;
  border-radius: 50%;
}
.subscribe__content.desc p {
  width: 80%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  font-family: "Mulish";
  color: #A9AFC3 !important;
}
.subscribe__content-2 input {
  width: 94%;
  background: none;
  border: none;
  border-bottom: 1px solid #3A3F50;
  margin: 20px 0;
}
.subscribe__content-2 button {
  background-image: url(/images/subscribe/btn.svg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
}
.subscribe__desc {
  margin: 60px 0;
}
.subscribe__bg {
  margin: 120px 35px;
}
.subscribe__name p {
  font-family: "Poppins-md";
  font-size: 15px;
}
.subscribe__regency p {
  font-family: "Mulish";
  font-size: 12px;
  color: #A9AFC3 !important;
}
.subscribe__desc p {
  font-family: "Poppins-md";
  font-size: 15px;
  color: #A9AFC3 !important;
}

.footer {
  border-top: 1px solid #A9AFC3;
  padding: 30px 0;
  position: absolute;
  top: 77%;
  width: 900px;
}
.footer__copyright p {
  font-size: 12px;
  color: #A9AFC3 !important;
  padding: 12px;
  font-family: "Mulish";
}
.footer__work-time p {
  font-family: "Mulish";
}
.footer__work-time.pd-2 {
  font-family: "Mulish";
  font-size: 12px;
  color: #A9AFC3 !important;
}
.footer__address p {
  font-family: "Mulish";
}
.footer__address.pd-2 {
  font-family: "Mulish";
  font-size: 12px;
  color: #A9AFC3 !important;
}
.footer__contact p {
  font-family: "Mulish";
}
.footer__contact.pd-2 {
  font-family: "Mulish";
  font-size: 12px;
  color: #A9AFC3 !important;
  line-height: 170%;
}