.choose-right{
    float: left;
    width: 50%;
    &__b-1{
        &.block{
            background-image: linear-gradient(180deg, #191C2600, #080A12);
            height: 200px;
            width: 220px;
            margin: 45px 50px 45px 50px;
        }
        &.numb{
            text-align: center;
            font-size: 33px;
            line-height: 100%;
            position: relative;
            padding: 50px 0 0;
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 170%;
                color: #DD4242 !important;
                position: absolute;
                font-weight: bold;
                padding: 0px 10px;
                font-size: 15px;
            }
        }
        &.text{
            font-size: 18px;
            line-height: 170%;
            padding: 20px 0 20px 45px;
            color: #A9AFC3 !important;
        }
    }
    &__b-2{
        &.block{
            background-image: linear-gradient(0deg, #191C2600, #080A12);
            height: 200px;
            width: 220px;
            margin: 45px 50px 45px 50px;
        }
        &.numb{
            text-align: center;
            font-size: 33px;
            line-height: 100%;
            position: relative;
            padding: 50px 0 0;
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 170%;
                color: #DD4242 !important;
                position: absolute;
                font-weight: bold;
                padding: 0px 10px;
                font-size: 15px;
            }
        }
        &.text{
            font-size: 18px;
            line-height: 170%;
            padding: 0px 0 0px 50px;
            color: #A9AFC3 !important;
        }
    }
}