.cta{
    position: relative;
    &__bg{
        background-color: #191C26;
    }
    &__item{
        &.block{
            position: absolute;
            top: 20%;
            left: 16%;
            z-index: 1;
        }
        &.subtitle{
            h6 {
                color: #A9AFC3 !important;
                font-weight: 400;
                font-size: 11px;
                line-height: 150%;
                letter-spacing: 0.08em;
                font-family: "Poppins-light";
                .line {
                    height: 1px;
                    width: 60px;
                    background: #A9AFC3 !important;
                    float: left;
                    margin: 8px 15px 0 0;
                }
            }
        }
        &.title {
            h1 {
                margin: 22px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                line-height: 100%;
                font-family: "Poppins-md";
                span {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-color: #DBB070;
                    border: 1px solid #DBB070;
                    border-radius: 50%;
                }
            }
        }

        &.desc {
            p {
                width: 57%;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                color: #A9AFC3 !important;
                font-size: 14px;
                font-family: "Mulish";
            }
        }
    }
    &__button{
        margin: 30px 20px;
        button{
            padding: 15px 35px;
            border-radius: 50px;
            border: 2px solid #DBB070;
            background-color: transparent;
        }
    }
}