.services{
    position: relative;
    background-color: #111319;
    &__item{
        &.block{
            margin: 150px 0 0 145px;
        }
        &.subtitle {
            h6 {
                color: #A9AFC3 !important;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                letter-spacing: 0.08em;
                font-family: 'Poppins-light';
                .line {
                    height: 1px;
                    width: 60px;
                    background: #A9AFC3 !important;
                    float: left;
                    margin: 10px 15px 0 0;
                }
            }
        }

        &.title {
            h1 {
                margin: 22px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 47px;
                line-height: 100%;
                font-size: "Poppins-md";
                span {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-color: #DBB070;
                    border: 1px solid #DBB070;
                    border-radius: 50%;
                }
            }
        }

        &.desc {
            p {
                width: 95%;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                font-family: "Mulish";
                color:#A9AFC3 !important;
            }
        }
    }
    &__bg-img{
        position: absolute;
        top: 12%;
        img{
            width: 100%;
        }
    }
    &__button{
        margin: 50px 0 0;
        button{
            padding: 10px 0;
            color: #DBB070 !important;
            border-bottom: 1px solid #DBB070;
            background: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
}