.subscribe {
    background-color: #191C26;
    &__container{
        margin: 120px 0 0px 200px;
        position: relative;
    }
    &__block{
        background-image: linear-gradient(0deg, #191C2600, #080A12);
        height: 741px;
        // padding: 0 !important;
    }
    &__block-f{
        margin: 120px 0;
    }
    &__content {
        &.subtitle {
            h6 {
                color: #A9AFC3 !important;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                letter-spacing: 0.08em;
                font-family: "Poppins-light";
                .line {
                    height: 1px;
                    width: 60px;
                    background: #A9AFC3 !important;
                    float: left;
                    margin: 10px 15px 0 0;
                }
            }
        }

        &.title {
            h1 {
                margin: 22px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                line-height: 100%;
                font-family: "Poppins-md";
                span {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-color: #DBB070;
                    border: 1px solid #DBB070;
                    border-radius: 50%;
                }
            }
        }

        &.desc {
            p {
                width: 80%;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 150%;
                font-family: "Mulish";
                color: #A9AFC3 !important;
            }
        }
    }
    &__content-2 {
        input{
            width: 94%;
            background: none;
            border: none;
            border-bottom: 1px solid #3A3F50;
            margin: 20px 0;
        }
        button{
            background-image: url(/images/subscribe/btn.svg);
            width: 90px;
            height: 90px;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            background-size: cover;
        }
    }
    &__desc{
        margin: 60px 0;
    }
    &__bg{
        margin: 120px 35px;
    }
    &__name{
        p{
            font-family: "Poppins-md";
            font-size: 15px;
        }
    }
    &__regency{
        p{
            font-family: "Mulish";
            font-size: 12px;
            color: #A9AFC3 !important;
        }
    }
    &__desc{
        p{
            font-family: "Poppins-md";
            font-size: 15px;
            color: #A9AFC3 !important;
        }
    }
}