.link-page {
    &__nav-bar {
        display: inline-block;
        list-style: none;
        span{
            color: #A9AFC3 !important;
        }
    }
    &__line{
        height: 1px;
        width: 20px;
        background: #A9AFC3 !important;
        float: left;
        margin: 12px 12px 0;   
    }
}